{% extends 'home/pages/base.html' %}

{% load static %}

{% block content %}

<div id="carouselExampleIndicators" class="carousel slide mh" data-ride="carousel">
  	  <ol class="carousel-indicators">
  	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
  	    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  	    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  	  </ol>
  	  <div class="carousel-inner mh">
  	    <div class="carousel-item active mh">
  	      <img class="d-block w-100" src="{% static 'home/images/4.jpg' %}" alt="First slide">
          <div class="contentss">
            <h4 class="text-responsive">DARUL ARKAM SCHOOL & MADRASAH</h4>
            <h6 class="text-responsive">Sadar Hospital Road, opposite the South Gate of Government Women's College, adjacent to the Old Driver Association, South Fourth, Comilla.</h6>
          </div>
  	    </div>
  	    <div class="carousel-item mh">
  	      <img class="d-block w-100" src="{% static 'home/images/5.jpg' %}" alt="Second slide">
          <div class="contentss">
            <h4 class="text-responsive">দারুল আরকাম স্কুল এন্ড মাদ্রাসা</h4>
            <h6 class="text-responsive">সদর হাসপাতাল রোড , সরকারি মহিলা কলেজের দক্ষিণ গেইটের বিপরীতে , পুরাতন ড্রাইভার সমিতি সংলগ্ন , দক্ষিণ চর্থা , কুমিল্লা</h6>
          </div>
  	    </div>
  	    <div class="carousel-item mh">
  	      <img class="d-block w-100" src="{% static 'home/images/6.jpg' %}" alt="Third slide">
          <div class="contentss">
            <h4 class="text-responsive">ارول أركام للمدرسة والمدرسة</h4>
            <h6 class="text-responsive">طريق مستشفى الصدر ، مقابل البوابة الجنوبية للكلية الحكومية للبنات ، بجوار جمعية السائقين القديمة ، الجنوب الرابع ، كوميلا.</h6>
          </div>
  	    </div>
  	  </div>
  	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  	    <span class="sr-only">Previous</span>
  	  </a>
  	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
  	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  	    <span class="sr-only">Next</span>
  	  </a>
    </div>

<!--     <div class="hero-slide owl-carousel site-blocks-cover">
      <div class="intro-section" style="background-image: url('images/1.jpg');">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
              <h1>Academics University</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="intro-section" style="background-image: url('images/2.jpg');">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
              <h1>You Can Learn Anything</h1>
            </div>
          </div>
        </div>
      </div>
    </div> -->



<section id="about-part" class="pt-65">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title-underline mt-5 " >
                        <!-- <h5>About us</h5> -->
                        <span><h2>আমাদের পথচলা</h2></span>
                    </div> <!-- section title -->
                    <div class="about-cont">
                        <p>মহান আল্লাহ ও তাঁর রাসূল সাল্লাল্লাহু আলাইহি ওয়াসাল্লামের সন্তুষ্টি অর্জনের লক্ষ্যে আহলে সুন্নাত ওয়াল জামাতের আকিদা অনুসারে আমলে-আখলাকে, লেবাসে-পোশাকে একদল আদর্শ ও দেশপ্রেমিক' আলেমেদ্বীন তৈরি করা। আলেমগণ নবীদের উত্তরসূরী। হাক্কানী রাব্বানী আলেমে দীনের মাধ্যমেই আল্লাহ পাক ইলমকে  জগতে টিকিয়ে রাখবেন। রাসূল সাঃ বলছেন 'ইলম বা জ্ঞান একমাত্র ছাত্র-শিক্ষকের মধ্যে পরস্পর শিক্ষা গ্রহণ ও দানের মাধ্যমে অর্জিত হবে।'<br> <br> দীনী ইলমের এ সংকট সন্ধিক্ষণে সত্যিকার দীনী শিক্ষার পাশাপাশি আধুনিক শিক্ষার সমন্বয় সাধনই দারুল আরকাম স্কুল এন্ড  মাদরাসার প্রতিষ্ঠা ও পথচলা। </p>
                        <!-- <a href="#" class="main-btn mt-55">Read More</a> -->
                    </div>
                </div> <!-- about cont -->
                <div class="col-lg-6 offset-lg-1">
                    <div class="about-event mt-50">
                        <div class="event-title section-title-underline">
                            <span><h3>নোটিশ</h3></span>
                        </div> <!-- event title -->
                        <ul>
                            <li>
                                <div class="single-event">
                                    <span><i class="fa fa-calendar"></i> ৯ ডিসেম্বর ২০১৯ </span>
                                    <span><i class="fa fa-clock-o"></i> 10:00 Am</span>
                                    <a href="{% url 'notice:details' %}"><h4>ক্যাম্পাস পরিচ্ছন্ন কর্মশালার</h4></a>
                                    <!-- <span><i class="fa fa-map-marker"></i> Rc Auditorim</span> -->
                                </div>
                            </li>
                            <li>
                                <div class="single-event">
                                    <span><i class="fa fa-calendar"></i> ২ ডিসেম্বর ২০১৯ </span>
                                    <span><i class="fa fa-clock-o"></i> 10:00 Am</span>
                                    <a href="{% url 'notice:details' %}"><h4>ভর্তি পরীক্ষার সময়সূচি</h4></a>
                                </div>
                            </li>
                            <li>
                                <div class="single-event">
                                    <span><i class="fa fa-calendar"></i> ২ ডিসেম্বর ২০১৯ </span>
                                    <span><i class="fa fa-clock-o"></i> 10:00 Am</span>
                                    <a href="{% url 'notice:details' %}"><h4>পুরস্কার বিতরণী অনুষ্ঠান</h4></a>
                                </div>
                            </li>
                        </ul>
                        <p><a href="{% url 'notice:home' %}" class="btn btn-primary px-4 rounded-0">আরো দেখুন</a></p>
                    </div> <!-- about event -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="about-bg">
            <img src="{% static 'home/images/8.png' %}" alt="About">
        </div>
    </section>


<!-- <div class="news-updates">
      <div class="container">

        <div class="row">
          <div class="col-lg-12">
             <div class="section-heading">
              <h2 class="text-black">News &amp; Updates</h2>
              <a href="#">Read All News</a>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="post-entry-big">
                  <a href="news-single.html" class="img-link"><img src="images/blog_large_1.jpg" alt="Image" class="img-fluid"></a>
                  <div class="post-content">
                    <div class="post-meta">
                      <a href="#">June 6, 2019</a>
                      <span class="mx-1">/</span>
                      <a href="#">Admission</a>, <a href="#">Updates</a>
                    </div>
                    <h3 class="post-heading"><a href="news-single.html">Campus Camping and Learning Session</a></h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="post-entry-big horizontal d-flex mb-4">
                  <a href="news-single.html" class="img-link mr-4"><img src="images/blog_1.jpg" alt="Image" class="img-fluid"></a>
                  <div class="post-content">
                    <div class="post-meta">
                      <a href="#">June 6, 2019</a>
                      <span class="mx-1">/</span>
                      <a href="#">Admission</a>, <a href="#">Updates</a>
                    </div>
                    <h3 class="post-heading"><a href="news-single.html">Campus Camping and Learning Session</a></h3>
                  </div>
                </div>

                <div class="post-entry-big horizontal d-flex mb-4">
                  <a href="news-single.html" class="img-link mr-4"><img src="images/blog_2.jpg" alt="Image" class="img-fluid"></a>
                  <div class="post-content">
                    <div class="post-meta">
                      <a href="#">June 6, 2019</a>
                      <span class="mx-1">/</span>
                      <a href="#">Admission</a>, <a href="#">Updates</a>
                    </div>
                    <h3 class="post-heading"><a href="news-single.html">Campus Camping and Learning Session</a></h3>
                  </div>
                </div>

                <div class="post-entry-big horizontal d-flex mb-4">
                  <a href="news-single.html" class="img-link mr-4"><img src="images/blog_1.jpg" alt="Image" class="img-fluid"></a>
                  <div class="post-content">
                    <div class="post-meta">
                      <a href="#">June 6, 2019</a>
                      <span class="mx-1">/</span>
                      <a href="#">Admission</a>, <a href="#">Updates</a>
                    </div>
                    <h3 class="post-heading"><a href="news-single.html">Campus Camping and Learning Session</a></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->





    <div class="site-section">
      <div class="container">
        <div class="row mb-5 justify-content-center text-center">
          <div class="col-lg-4 mb-5">
            <h2 class="section-title-underline mb-5">
              <span>মাদরাসার বৈশিষ্ট্য</span>
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <div class="feature-1 border mih260">
              <div class="icon-wrapper bg-primary">
                <span class="flaticon-library text-white"></span>
              </div>
              <div class="feature-1-content">
                <h2>আবাসিক</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
                <!-- <p><a href="#" class="btn btn-primary px-4 rounded-0">আরও পড়ুন</a></p> -->
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <div class="feature-1 border mih260">
              <div class="icon-wrapper bg-primary">
                <span class="flaticon-mortarboard text-white"></span>
              </div>
              <div class="feature-1-content">
                <h2>অনাবাসিক</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
                <!-- <p><a href="#" class="btn btn-primary px-4 rounded-0">আরও পড়ুন</a></p> -->
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <div class="feature-1 border mih260">
              <div class="icon-wrapper bg-primary">
                <span class="flaticon-school-material text-white"></span>
              </div>
              <div class="feature-1-content">
                <h2>ডে-কেয়ার</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
                <!-- <p><a href="#" class="btn btn-primary px-4 rounded-0">আরও পড়ুন</a></p> -->
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <div class="feature-1 border mih260">
              <div class="icon-wrapper bg-primary">
                <span class="flaticon-school-material text-white"></span>
              </div>
              <div class="feature-1-content">
                <h2>ক্যামেরা নিয়ন্ত্রিত</h2>
                <!-- <p>ক্লোজসার্কিট ক্যামেরা দ্বারা নিয়ন্ত্রিত</p> -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
                <!-- <p><a href="#" class="btn btn-primary px-4 rounded-0">আরও পড়ুন</a></p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section mt-4">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-lg-6 mb-5">
            <h2 class="section-title-underline">
              <span>শিক্ষাস্তর ও সিলেবাস</span>
            </h2>
            <p class="mb-4">অত্র প্রতিষ্ঠানের শিক্ষাকার্যক্রম পর্যায় ক্রমে দুইটি স্তরে বিভক্ত</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 mb-lg-0 mb4">
            <div class="feature-1 border mih260">
              <div class="icon-wrapper bg-primary">
                <span class="flaticon-library text-white"></span>
              </div>
              <div class="feature-1-content">
                <h2>স্কুল বিভাগ</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
                <p><a href="{% url 'school:home' %}" class="btn btn-primary px-4 rounded-0">আরও পড়ুন</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mb-lg-0 mb4">
            <div class="feature-1 border mih260">
              <div class="icon-wrapper bg-primary">
                <span class="flaticon-mortarboard text-white"></span>
              </div>
              <div class="feature-1-content">
                <h2>হিফ্জ বিভাগ</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
                <p><a href="{% url 'hifz:home' %}" class="btn btn-primary px-4 rounded-0">আরও পড়ুন</a></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>




<!--     <div class="section-bg style-1" style="background-image: url('images/hero_1.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
            <span class="icon flaticon-mortarboard"></span>
            <h3>Our Philosphy</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea? Dolore, amet reprehenderit.</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
            <span class="icon flaticon-school-material"></span>
            <h3>Academics Principle</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
              Dolore, amet reprehenderit.</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
            <span class="icon flaticon-library"></span>
            <h3>Key of Success</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure repellat quis delectus ea?
              Dolore, amet reprehenderit.</p>
          </div>
        </div>
      </div>
    </div> -->






<!-- News and Activity -->

<!--     <div class="site-section">
      <div class="container">

        <div class="row justify-content-center text-center">
          <div class="col-lg-6">
            <h2 class="section-title-underline mb-3">
              <span>Popular Courses</span>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, id?</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
              <div class="owl-slide-3 owl-carousel">
                  <div class="course-1-item">
                    <figure class="thumnail">
                      <div class=" mh200"><img src="images/1.jpg" alt="Image" class="img-fluid"></div>
                      <div class="price">$99.00</div>
                      <div class="category"><h3>Mobile Application</h3></div>
                    </figure>
                    <div class="course-1-content pb-4">
                      <h2>How To Create Mobile Apps Using Ionic</h2>
                      <div class="rating text-center mb-3">
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                      </div>
                      <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
                      <p><a href="course-single.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                  </div>

                  <div class="course-1-item">
                    <figure class="thumnail">
                      <div class=" mh200"><img src="images/2.jpg" alt="Image" class="img-fluid"></div>
                      <div class="price">$99.00</div>
                      <div class="category"><h3>Web Design</h3></div>
                    </figure>
                    <div class="course-1-content pb-4">
                      <h2>How To Create Mobile Apps Using Ionic</h2>
                      <div class="rating text-center mb-3">
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                      </div>
                      <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
                      <p><a href="course-single.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                  </div>

                  <div class="course-1-item">
                    <figure class="thumnail">
                      <div class=" mh200"><img src="images/4.jpg" alt="Image" class="img-fluid"></div>
                      <div class="price">$99.00</div>
                      <div class="category"><h3>Arithmetic</h3></div>
                    </figure>
                    <div class="course-1-content pb-4">
                      <h2>How To Create Mobile Apps Using Ionic</h2>
                      <div class="rating text-center mb-3">
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                      </div>
                      <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
                      <p><a href="courses-single.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                  </div>

                  <div class="course-1-item">
                    <figure class="thumnail">
                      <div class=" mh200"><img src="images/5.jpg" alt="Image" class="img-fluid"></div>
                      <div class="price">$99.00</div>
                      <div class="category"><h3>Mobile Application</h3></div>
                    </figure>
                    <div class="course-1-content pb-4">
                      <h2>How To Create Mobile Apps Using Ionic</h2>
                      <div class="rating text-center mb-3">
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                      </div>
                      <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
                      <p><a href="course-single.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                  </div>

                  <div class="course-1-item">
                    <figure class="thumnail">
                      <div class=" mh200"><img src="images/6.jpg" alt="Image" class="img-fluid"></div>
                      <div class="price">$99.00</div>
                      <div class="category"><h3>Web Design</h3></div>
                    </figure>
                    <div class="course-1-content pb-4">
                      <h2>How To Create Mobile Apps Using Ionic</h2>
                      <div class="rating text-center mb-3">
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                      </div>
                      <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
                      <p><a href="course-single.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                  </div>

                  <div class="course-1-item">
                    <figure class="thumnail">
                      <div class=" mh200"><img src="images/7.jpg" alt="Image" class="img-fluid"></div>
                      <div class="price">$99.00</div>
                      <div class="category"><h3>Mobile Application</h3></div>
                    </figure>
                    <div class="course-1-content pb-4">
                      <h2>How To Create Mobile Apps Using Ionic</h2>
                      <div class="rating text-center mb-3">
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                        <span class="icon-star2 text-warning"></span>
                      </div>
                      <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
                      <p><a href="course-single.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                  </div>

              </div>

          </div>
        </div>


      </div>
    </div> -->




<!--     <div class="section-bg style-1" style="background-image: url('images/about_1.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h2 class="section-title-underline style-2">
              <span>About Our University</span>
            </h2>
          </div>
          <div class="col-lg-8">
            <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem nesciunt quaerat ad reiciendis perferendis voluptate fugiat sunt fuga error totam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus assumenda omnis tempora ullam alias amet eveniet voluptas, incidunt quasi aut officiis porro ad, expedita saepe necessitatibus rem debitis architecto dolore? Nam omnis sapiente placeat blanditiis voluptas dignissimos, itaque fugit a laudantium adipisci dolorem enim ipsum cum molestias? Quod quae molestias modi fugiat quisquam. Eligendi recusandae officiis debitis quas beatae aliquam?</p>
            <p><a href="#">Read more</a></p>
          </div>
        </div>
      </div>
    </div> -->

    <!-- // 05 - Block -->
  <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-4">
            <h2 class="section-title-underline">
              <span>তাদের কিছু কথা</span>
            </h2>
          </div>
        </div>

        <div class="owl-slide owl-carousel">

          <div class="ftco-testimonial-1">
            <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
              <img src="{% static 'home/images/p1.jpg' %}" alt="Image" class="img-fluid mr-3">
              <div>
                <h3>মুফতী কেফায়াতুল্লাহ</h3>
                <span>হাটহাজারী মাদ্রাসা</span>
              </div>
            </div>
            <div>
              <p>&ldquo;মহান আল্লাহ ও তাঁর রাসূল সাল্লাল্লাহু আলাইহি ওয়াসাল্লামের সন্তুষ্টি অর্জনের লক্ষ্যে আহলে সুন্নাত ওয়াল জামাতের আকিদা অনুসারে আমলে-আখলাকে, লেবাসে-পোশাকে একদল আদর্শ ও দেশপ্রেমিক' আলেমেদ্বীন তৈরি করা।&rdquo;</p>
            </div>
          </div>

          <div class="ftco-testimonial-1">
            <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
              <img src="{% static 'home/images/p2.jpg' %}" alt="Image" class="img-fluid mr-3">
              <div>
                <h3>মুফতী রফিউদ্দিন আহমাদ</h3>
                <span>ঢালকানগর মাদ্রাসা</span>
              </div>
            </div>
            <div>
              <p>শিশু শ্রেণী থেকে সালিছ (তৃতীয়) শ্রেণি মাদ্রাসার নিজস্ব সিলেবাসের আলোকে পরিচালিত। শিক্ষার্থীদের সহি শুদ্ধ করে পূর্ণ কোরআন তেলাওয়াত শিক্ষাদানের পাশাপাশি বাংলা ইংরেজি গণিত বিষয়ে পাঠদান</p>
            </div>
          </div>

          <div class="ftco-testimonial-1">
            <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
              <img src="{% static 'home/images/p1.jpg' %}" alt="Image" class="img-fluid mr-3">
              <div>
                <h3>শায়খুল হাদিস মুফতি শফিকুর রহমান</h3>
                <span>প্রধান মুফতি জামেয়া মাদানিয়া কাজির বাজার সিলেট </span>
              </div>
            </div>
            <div>
              <p>&ldquo;শিশু শ্রেণী থেকে সালিছ (তৃতীয়) শ্রেণি মাদ্রাসার নিজস্ব সিলেবাসের আলোকে পরিচালিত। শিক্ষার্থীদের সহি শুদ্ধ করে পূর্ণ কোরআন তেলাওয়াত শিক্ষাদানের পাশাপাশি বাংলা ইংরেজি গণিত বিষয়ে পাঠদান&rdquo;</p>
            </div>
          </div>

          <div class="ftco-testimonial-1">
            <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
              <img src="{% static 'home/images/p3.jpg' %}" alt="Image" class="img-fluid mr-3">
              <div>
                <h3>মুফতি আবুল হাসান মুহাম্মাদ আব্দুল্লাহ</h3>
                <span>হাটহাজারী মাদ্রাসা</span>
              </div>
            </div>
            <div>
              <p>মহান আল্লাহ ও তাঁর রাসূল সাল্লাল্লাহু আলাইহি ওয়াসাল্লামের সন্তুষ্টি অর্জনের লক্ষ্যে আহলে সুন্নাত ওয়াল জামাতের আকিদা অনুসারে আমলে-আখলাকে, লেবাসে-পোশাকে একদল আদর্শ ও দেশপ্রেমিক' আলেমেদ্বীন তৈরি করা।</p>
            </div>
          </div>

          <div class="ftco-testimonial-1">
            <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
              <img src="{% static 'home/images/p2.jpg' %}" alt="Image" class="img-fluid mr-3">
              <div>
                <h3>মুফতি আবুল হাসান মুহাম্মাদ আব্দুল্লাহ</h3>
                <span>প্রধান মুফতি মারকাযুদ দাওয়াহ</span>
              </div>
            </div>
            <div>
              <p>&ldquo;মহান আল্লাহ ও তাঁর রাসূল সাল্লাল্লাহু আলাইহি ওয়াসাল্লামের সন্তুষ্টি অর্জনের লক্ষ্যে আহলে সুন্নাত ওয়াল জামাতের আকিদা অনুসারে আমলে-আখলাকে, লেবাসে-পোশাকে একদল আদর্শ ও দেশপ্রেমিক' আলেমেদ্বীন তৈরি করা।&rdquo;</p>
            </div>
          </div>

          <div class="ftco-testimonial-1">
            <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
              <img src="{% static  'home/images/p3.jpg' %}" alt="Image" class="img-fluid mr-3">
              <div>
                <h3>মুফতি মুস্তাফা কামাল কসেমী</h3>
                <span> প্রধান মুফতি চুয়াডাঙ্গা জেলা ও দারুল উলুম মাদ্রাসা, চুয়াডাঙ্গা</span>
              </div>
            </div>
            <div>
              <p>শিশু শ্রেণী থেকে সালিছ (তৃতীয়) শ্রেণি মাদ্রাসার নিজস্ব সিলেবাসের আলোকে পরিচালিত। শিক্ষার্থীদের সহি শুদ্ধ করে পূর্ণ কোরআন তেলাওয়াত শিক্ষাদানের পাশাপাশি বাংলা ইংরেজি গণিত বিষয়ে পাঠদান</p>
            </div>
          </div>

        </div>

      </div>
    </div>






<!--     <div class="site-section ftco-subscribe-1" style="background-image: url('images/bg_1.jpg'); display:none;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7">
            <h2>Subscribe to us!</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,</p>
          </div>
          <div class="col-lg-5">
            <form action="" class="d-flex">
              <input type="text" class="rounded form-control mr-2 py-3" placeholder="Enter your email">
              <button class="btn btn-primary rounded py-3 px-4" type="submit">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>  -->


{% endblock %}